* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
    nav{
        height: 6rem;
    }
    li{
        padding: 1rem;
        
    }
    .pa{
        text-align: center;
    }
.logotipo{
    width: 20%;
}

.banner_samsung{
    height: 30rem;
    width: 100%;
}
.banner_apple{
    height: 30rem;
    width: 100%;
}
.banner_xiaomi{
   height: 30rem;
    width: 100%;
}
.banner_gaming{
    height: 30rem;
    width: 100%;
}
.targetaPadre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    
   
}
figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.botton_tele{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 78, 82, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.targetaPadre figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}
.targetaPadre figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;

}
.targetaPadre figure .capa h3{
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 20px;
}
.targetaPadre figure .capa p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.papa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play5{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}
button{
    width: 10rem;
    border-radius: 2rem;
    
}

.returnal{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}

.uncharted{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}
.Auriculares_ps5{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
} 

.sackboy{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}

.play4{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}

.watch_dogs{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}

.inmortals_fenyx{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}

.anthem{
    padding-top: 5rem;
    height: 25rem;
    width: 22rem;
}
.h1_gaming{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;
}



ul {
    list-style: none;
}

.submenu {
    position: relative;
}

#img-carrito {
    cursor: pointer;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

th{
    padding: 1.5rem;
}

#vaciar-carrito{
    text-align: center;
    cursor: pointer;
}