* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
    nav{
        height: 6rem;
    }
    li{
       
        padding: 1rem;
        
    }
    .pa{
        display: flex;
        justify-content: center;
        
    }
.logotipo{
    width: 20%;
}

.carousel{
    z-index: 0;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;
}
.banner_samsung{
    height: 30rem;
    width: 100%;
}
.banner_apple{
    height: 30rem;
    width: 100%;
}
.banner_xiaomi{
   height: 30rem;
    width: 100%;
}
.banner_gaming{
    height: 30rem;
    width: 100%;
}
.banner_tv{
    height: 35rem;
    width: 100%;
}
.targetaPadre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    
   
}
figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.botton_tele{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.botton_play5{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.botton_iphone{
    margin-left: 3rem;
    height: 100%;
    transition: all 500ms ease-out;
}
.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 78, 82, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.targetaPadre figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}
.targetaPadre figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;

}
.targetaPadre figure .capa h3{
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 20px;
}
.targetaPadre figure .capa p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
.papa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
}
.center-contain{
    display: flex;
    justify-content: center;
}
.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    transition: all .4s ease;
    padding-bottom: 2rem;
   
}
.articulos:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.productos{
    padding-top: 5rem;
    height: 25rem;
}

button{
    background-color: #000;
    color: #fff;
    width: 10rem;
    border: transparent;
    border-radius: 4px;
    transition: all 0.2 ease;
    
}
button:active{
    transform: scale(0.96);
}






ul {
    list-style: none;
}

.submenu {
    position: relative;
}

.logo-carrito{
    cursor: pointer;
  font-size: 2.5rem;
  background: none;
  border: none;
}

.submenu #carrito {
    display: none;
}

 .submenu #carrito{
    display: none;
    position: absolute;
    right: 0;
    top: 1;
    z-index: 1;
    background-color: #ffffff;
    padding: 20px;
    height: 100vh;
    min-width: 350px;
    
}
#lista-carrito{
    display: block;
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
}
.no-mover{
    
 position: absolute;
 bottom: 0;
 right: 0;
 left: 0;
}



th{
    padding: 1.5rem;
}
td{
    padding: 1.5rem;
} 
.cantidad-pro-carrito{
    
    
    padding-left: rem
}
.price-pro-carrito{
    
    padding-left: 2rem;
}
.img-pro-carrito{
    
    padding: 10px 0px 0px ;
}

.center-botton{
    text-align: center;
}

.bubbly-button{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 15px;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 80px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1E8449;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(20, 90, 50, 0.5);
    
    &:focus {
      outline: 0;
    }
    
    &:before, &:after{
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }
    
    &:before{
      display: none;
      top: -75%;
      background-image:  
        radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle,  transparent 20%, #1E8449 20%, transparent 30%),
      radial-gradient(circle, #1E8449 20%, transparent 20%), 
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, #1E8449 15%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }
    
    &:after{
      display: none;
      bottom: -75%;
      background-image:  
      radial-gradient(circle, #1E8449 20%, transparent 20%), 
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, #1E8449 15%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%),
      radial-gradient(circle, #1E8449 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
   
    &:active{
      transform: scale(0.9);
      background-color: darken(#1E8449, 5%);
      box-shadow: 0 2px 25px rgba(20, 90, 50, 0.2);
    }
    
    &.animate{
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
  
  

#vaciar-carrito{
    text-align: center;
    cursor: pointer;
   
}

.count-products {
    position: absolute;
    top: 40%;
    right: 0;
    margin-right: 20px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 3rem;
}

.cart-total span{
    font-size: 1.7rem;
    margin-left: 1rem;
}

.quantity-btn-decrese,
.quantity-btn-increse{
   
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;

}
.info-carrito-vacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    
}

.info-carrito-vacio i{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.hidden{
    display: none;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 81.2%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    z-index: 1000; /* Ensure it's above other elements */
  }

  
  
  




